p {
    color: red;
    font-weight: bold;
    font-size: larger;
}

img {
    width: 200px;
    height: 250px;
}

body {
    margin: auto;
}

div {
    border: 1px solid #000;
    width: 290px;
    height: 500px;
    margin: 5px;
    display: inline-block;
}

.stars label::after {
    content: '\2606';
    font-size: 30px;
    color: gold;
    cursor: pointer;
}

input:checked~label::after,
input:hover~label::after {
    content: '\2605';
}

.stars {
    direction: rtl;
    text-align: left;
}

.stars input {
    display: none;
}

#type_1:checked~div {
    display: block;
}
